{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real Estate Website Landing Page</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="{% static 'myapp/sample.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95dc93da07.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
    <div id="header-hero-container">
        <header>
            <div class="flex container">
                <a id="logo" href="#">Blessings</a>
                <nav>
                    <button id="nav-toggle" class="hamburger-menu">
                        <span class="strip"></span>
                        <span class="strip"></span>
                        <span class="strip"></span>
                    </button>

                    <ul id="nav-menu">
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#Properties">Properties</a></li>
                        <li><a href="#Agents">Agents</a></li>
                        <li><a href="#About">About</a></li>
                        <li><a href="#News">Services</a></li>
                        <!-- <li><a href="{% url 'contact' %}">Contact</a></li> -->
                        <li><a href="#">Contact</a></li>
                        <li id="close-flyout"><span class="fas fa-times"></span></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="hero">
            <div class="fade"></div>
            <div class="hero-text">
                <h1>Buy and sell real estate properties</h1>
                <p>Connecting people to places with purpose. We blend innovation and insight to make real estate simple, smart, and successful.</p>
            </div>
        </section>
    </div>

    <section id="how-it-works">
        <div class="container">
            <h2>How It Works</h2>
            <div class="flex">
                <div>
                    <span class="fas fa-home"></span>
                    <h4>Find a Property.</h4>
                    <p>Discover homes that match your lifestyle. Whether it’s a cozy apartment or a spacious villa, we help you find the perfect fit with ease and speed.</p>
                </div>

                <div>
                    <span class="fas fa-dollar-sign"></span>
                    <h4>Buy a Property.</h4>
                    <p>From site visits to closing deals, we make your home-buying journey smooth and transparent. Get expert guidance and the best market value, all in one place.</p>
                </div>

                <div>
                    <span class="fas fa-chart-line"></span>
                    <h4>Investing.</h4>
                    <p>Build your future with smart real estate investments. We offer insights, trends, and top property picks to help you grow your wealth with confidence.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="properties">
        <div class="container">
            <h2>Properties</h2>
            <div id="properties-slider" class="slick">
                <div>
                    <img src="https://onclickwebdesign.com/wp-content/uploads/property_1.jpg" alt="Property 1" />
                    <div class="property-details">
                        <p class="price">₹3,400,000</p>
                        <span class="beds">6 beds</span>
                        <span class="baths">4 baths</span>
                        <span class="sqft">4,250 sqft.</span>
                        <address>
                            No. 480, 12th street, Alandhur, Chennai, 600028
                        </address>
                    </div>
                </div>

                <div>
                    <img src="https://onclickwebdesign.com/wp-content/uploads/property_2.jpg" alt="Property 1" />
                    <div class="property-details">
                        <p class="price">₹34,00,000</p>
                        <span class="beds">6 beds</span>
                        <span class="baths">4 baths</span>
                        <span class="sqft">4,250 sqft.</span>
                        <address>
                            No. 480, 12th street, Alandhur, Chennai, 600028
                        </address>
                    </div>
                </div>

                <div>
                    <img src="https://onclickwebdesign.com/wp-content/uploads/property_3.jpg" alt="Property 1" />
                    <div class="property-details">
                        <p class="price">₹34,00,000</p>
                        <span class="beds">6 beds</span>
                        <span class="baths">4 baths</span>
                        <span class="sqft">4,250 sqft.</span>
                        <address>
                            No. 480, 12th street, Alandhur, Chennai, 600028
                        </address>
                    </div>
                </div>

                <div>
                    <img src="https://onclickwebdesign.com/wp-content/uploads/property_4.jpg" alt="Property 1" />
                    <div class="property-details">
                        <p class="price">₹34,00,000</p>
                        <span class="beds">6 beds</span>
                        <span class="baths">4 baths</span>
                        <span class="sqft">4,250 sqft.</span>
                        <address>
                            No. 480, 12th street, Alandhur, Chennai, 600028
                        </address>
                    </div>
                </div>

                <div>
                    <img src="https://onclickwebdesign.com/wp-content/uploads/property_1.jpg" alt="Property 1" />
                    <div class="property-details">
                        <p class="price">₹34,00,000</p>
                        <span class="beds">6 beds</span>
                        <span class="baths">4 baths</span>
                        <span class="sqft">4,250 sqft.</span>
                        <address>
                            No. 480, 12th street, Alandhur, Chennai, 600028
                        </address>
                    </div>
                </div>
            </div>

            <button class="rounded">View All Property Listings</button>
        </div>
    </section>

    <section id="agents">
        <div class="container">
            <h2>Agents</h2>
            <p class="large-paragraph">Our experienced agents are here to provide expert advice and personalized service. With deep market knowledge and a commitment to your goals, we ensure you make informed decisions every step of the way.</p>

            <div class="flex">
                <div class="card">
                    <img src="https://onclickwebdesign.com/wp-content/uploads/person_1.jpg" alt="Realtor 1" />
                    <h3>Ethiraj</h3>
                    <p>Real Estate Agent</p>
                </div>

                <div class="card">
                    <img src="https://onclickwebdesign.com/wp-content/uploads/person_2.jpg" alt="Realtor 1" />
                    <h3>Gayathri</h3>
                    <p>Real Estate Agent</p>
                </div>

                <div class="card">
                    <img src="https://onclickwebdesign.com/wp-content/uploads/person_3.jpg" alt="Realtor 1" />
                    <h3>Monisha</h3>
                    <p>Real Estate Agent</p>
                </div>

                <div class="card">
                    <img src="https://onclickwebdesign.com/wp-content/uploads/person_4.jpg" alt="Realtor 1" />
                    <h3>Baris khan</h3>
                    <p>Real Estate Agent</p>
                </div>

                <div class="card">
                    <img src="https://onclickwebdesign.com/wp-content/uploads/person_5.jpg" alt="Realtor 1" />
                    <h3>Silambarasan</h3>
                    <p>Real Estate Agent</p>
                </div>

                <div class="card">
                    <img src="https://onclickwebdesign.com/wp-content/uploads/person_6.jpg" alt="Realtor 1" />
                    <h3>Nirmal</h3>
                    <p>Real Estate Agent</p>
                </div>
            </div>
        </div>
    </section>

    <section id="the-best">
        <div class="flex container">
            <h2>About</h2>
           
            <img src="https://onclickwebdesign.com/wp-content/uploads/property_1.jpg" alt="Property 1" />
            <div>
                <h2>We Are the Best Real Estate Company</h2>
                <p class="large-paragraph">Our company was Founded in <strong>2014</strong> with the vision of delivering exceptional value to our customers. Over the years, we have grown into a trusted name, dedicated to innovation and excellence.</p>
            </p>
                <p>Our team’s dedication and deep understanding of the market ensure you make the best decisions for your property needs. Whether buying, selling, or investing, we are your trusted partner in real estate.</p>
                <ul>
                    <li>Our team of experienced professionals offers top-notch advice to help you make the right real estate decisions.</li>
                    <li>We tailor our approach to meet your unique needs, ensuring a seamless and stress-free experience.</li>
                    <li>With deep insights into the local and global real estate market, we bring you the best opportunities for buying, selling, and investing.</li>
                    <li>Your satisfaction is our priority. We go above and beyond to ensure your needs are met and your goals are achieved.</li>
                    <li>Our track record speaks for itself. We have successfully helped hundreds of clients find their dream properties and make profitable investments.</li>
                </ul>
                <button class="rounded">Learn More</button>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <h2>Services</h2>
            <div class="flex">
                <div>
                    <div class="fas fa-home"></div>
                    <div class="services-card-right">
                        <h3>Search Property</h3>
                        <p>Easily find properties that match your needs and preferences. Our advanced search tools let you filter by location, price, type, and more, making property hunting quick and efficient.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>

                <div>
                    <div class="fas fa-dollar-sign"></div>
                    <div class="services-card-right">
                        <h3>Buy Property</h3>
                        <p>Buying a property is a big decision. We guide you through the entire process, from viewing listings to finalizing the deal, ensuring you make an informed and confident purchase.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>

                <div>
                    <div class="fas fa-chart-line"></div>
                    <div class="services-card-right">
                        <h3>Investing</h3>
                        <p>Maximize your returns with smart real estate investments. Whether you're a first-time investor or experienced, we provide the insights and opportunities to grow your wealth through real estate.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>

                <div>
                    <div class="fas fa-building"></div>
                    <div class="services-card-right">
                        <h3>List a Property</h3>
                        <p>Selling or renting your property? Our platform makes it easy to list your property and reach a wide audience of potential buyers or tenants, ensuring a quick and smooth transaction.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>

                <div>
                    <div class="fas fa-search"></div>
                    <div class="services-card-right">
                        <h3>Property Locator</h3>
                        <p>Find the perfect property tailored to your needs with our Property Locator. Whether you're searching for a home, office, or investment opportunity, we make it easier than ever to discover the right place.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>

                <div>
                    <div class="fas fa-mobile-alt"></div>
                    <div class="services-card-right">
                        <h3>Stated Apps</h3>
                        <p>Access real estate solutions anytime, anywhere. Our mobile-friendly platform and apps offer seamless browsing, property management, and transaction tracking at your fingertips.</p>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials">
        <div class="container">
            <h2>What Our Clients Are Saying</h2>
            <div id="testimonials-slider">
                <div>
                    <blockquote>
                        <p>"I couldn’t be more satisfied with my experience. The team guided me every step of the way, and I found my dream home with ease. Their professionalism and dedication are unmatched!"</p>
                    </blockquote>
                    <div class="testimonials-caption">
                        <img src="https://onclickwebdesign.com/wp-content/uploads/person_7.jpg" alt="Client 7" />
                        <p>Priya</p>
                    </div>
                </div>

                <div>
                    <blockquote>
                        <p>"As a first-time investor, I was a bit overwhelmed, but the experts at Blessings properties made the process so simple. They helped me make smart investment decisions, and I’m already seeing great returns!"</p>
                    </blockquote>
                    <div class="testimonials-caption">
                        <img src="https://onclickwebdesign.com/wp-content/uploads/person_5.jpg" alt="Client 7" />
                        <p>Devika</p>
                    </div>
                </div>

                <div>
                    <blockquote>
                        <p>"Selling my property was a breeze with this team. They understood my needs, got me the best offer, and handled all the paperwork. Highly recommended for anyone looking to buy or sell."</p>
                    </blockquote>
                    <div class="testimonials-caption">
                        <img src="https://onclickwebdesign.com/wp-content/uploads/person_8.jpg" alt="Client 7" />
                        <p>Franklin</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <h2>Contact Us</h2>

            <div class="flex">
                <div id="form-container">
                    <h3>Contact Form</h3>
                    <form method="post" action="{% url 'contact' %}">  
                        {% csrf_token %}  
                        {{ form.as_p }}  
                        <!-- <label for="name">Name</label>
                        <input type="text" id="name" />

                        <label for="email">Email</label>
                        <input type="text" id="email" />

                        <label for="subject">Subject</label>
                        <input type="text" id="subject" />

                        <label for="message">Message</label> -->
                        <!-- <textarea id="message">Write your message here..</textarea> -->

                        <button class="rounded" type="submit">Send Message</button>
                    </form>
                </div>

                <div id="address-container">
                    <label>Address</label>
                    <address>
                        Blessing properties, Plot No. 1, 100 Feet Rd, SIDCO Industrial Estate, Guindy, Chennai, Tamil Nadu 600032
                    </address>

                    <label>Phone</label>
                    <a href="#">+91 8456982018</a>

                    <label>Email Address</label>
                    <a href="#">blessing@domain.com</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="flex container">
            <div class="footer-about">
                <h5>About</h5>
                <p>We are a modern real estate platform built to simplify property buying, selling, and investing. With a focus on technology, trust, and transparency — Stated connects people to their perfect properties with ease and confidence.</p>
            </div>

            <div class="footer-quick-links">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-subscribe">
                <h5>Subscribe to our Newsletter</h5>
                <div id="subscribe-container">
                    <input type="text" placeholder="Enter Email" />
                    <button class="right-rounded">Send</button>
                </div>

                <h5 class="follow-us">Follow Us</h5>
                <ul>
                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                </ul>
            </div>
        </div>

        <small>
            Copyright © 2019 All rights reserved | This template is made with <span class="fa fa-heart"></span> by <a href="https://colorlib.com">Colorlib</a>
        </small>
    </footer>

    <script src="{% static 'myapp/script.js' %}"></script>
</body>

</body>
</html>